gspread
google-auth
google-auth-oauthlib
google-api-python-client
oauth2client
requests
beautifulsoup4
lxml
PyYAML
loguru
aiohttp
tenacity
pydub
python-dotenv
google-generativeai
moviepy
gdown
Pillow
openai
tqdm